# Virtual environment
venv/
backend/venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
db.sqlite3
backend/db.sqlite3

# Django migration folders
*/migrations/*.pyc
*/migrations/*.py[cod]
*/migrations/__pycache__/

# Logs
*.log
*.pot
*.py[cod]

# IDE / editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Node / React / Vite
node_modules/
frontend/node_modules/

# Vite build output
frontend/dist/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.prettierignore